*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

.card-container{
    width: 100%;
    height: 100vh;
    border: 5px solid red;
}

.card{
    width:27%;
    height: 50%;
    border: 3px solid black;
    border-radius: 10px;
    /* border: none; */
}

img{
    border-radius: 5px;
}

.card-txt{
    text-align: center;
    font-size: 25px;
    padding: 5px 15px;
}

.card-info{
    text-align: left;
    padding: 10px 10px;
}